.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #222;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.card:hover {
  background: #000000;
  cursor: pointer;
}

body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

