.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #222;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
}
